name: PR Validation

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  validate:
    uses: sanjay241190/ci-cd-pipelines/.github/workflows/VALIDATE_PULL_REQUEST.yml@main
    with:
      source_branch: ${{ github.head_ref }}
      target_branch: ${{ github.base_ref }}
    secrets: inherit
