name: PR Validation

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  validate:
    uses: sanjay241190/ci-cd-pipelines/.github/workflows/VALIDATE_PULL_REQUEST.yml@main
    with:
      source_branch: ${{ github.head_ref }}
      target_branch: ${{ github.base_ref }}
    secrets:
      GH_PAT: ${{ secrets.GH_PAT }}
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
